@font-face{font-family:'Film Serif';font-style:italic;font-weight:400;src:url(gelasio-400-italique.woff2) format('woff2')}
@font-face{font-family:'Film Serif';font-style:normal;font-weight:400;src:url(gelasio-400.woff2) format('woff2')}
@font-face{font-family:'Film Serif';font-style:normal;font-weight:500;src:url(gelasio-500.woff2) format('woff2')}
@font-face{font-family:'Film Sans';font-style:normal;font-weight:400;src:url(roboto-400.woff2) format('woff2')}
@font-face{font-family:'Film Sans';font-style:normal;font-weight:500;src:url(roboto-500.woff2) format('woff2')}
@font-face{font-family:'Film Sans';font-style:normal;font-weight:700;src:url(roboto-700.woff2) format('woff2')}
